<nav class="navbar navbar-bg">
  <div class="container navTitle-wrap">
    <div class="goBack">
      <span class="icon icon-arrow"></span>
    </div>
    <h2 class="navTitle">Home</h2>
  </div>
</nav>

<div class="container">
  <div class="welcome-note">
    <h4>Welcome. Thanks for being a hero by joining the fight to stop food wastage.</h4>
  </div>

  <div class="choose-activity-wrap">

    <div class="custom-control custom-radio">
      <div class="check-activity">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">
          <p class="lead">I want to offer food</p>
          <p class="activity-instruction">Add a photo of item.<br/>Give a title, brief description of item, pick-up
            location and time.
          </p>

        </label>
      </div>
    </div>

    <div class="custom-control custom-radio">
      <div class="check-activity">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">
          <p class="lead">I want an item</p>
          <p class="activity-instruction">Add a photo of item you need.<br/>Give a title, brief description of item,
            and your approximate location.
          </p>

        </label>
      </div>
    </div>

    <div class="button-group">
      <button class="btn btn-primary">Start Sharing</button>
    </div>
  </div>
</div>