<app-home-nav></app-home-nav>

<div class="container">
  <div class="listings-wrapper">
    <p>Add food items or request for one politely.</p>

    <div class="list-tabs-wrapper">
      <div class="tab-group">
        <button class="btn btn-tab" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Items Offered</button>
        <button class="btn btn-tab" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">Items Wanted</button>
      </div>

      <div class="tab-list-group" [ngSwitch]="viewMode">

        <div class="list-group" *ngSwitchCase="'tab1'">
          <div class="product-wrap" *ngFor='let product of products'>
            <div class="leftSide">
              <img src="../../assets/img/listings/{{product.productImg}}" alt="">
            </div>

            <div class="rightSide">
              <h3 class="productName">{{product.productName}}</h3>
              <p class="desc">{{product.productDescription}}</p>
              <div class="location-author">
                <span class="productLocation">#{{product.productLocation}}</span>
                <span class="productAuthor">By: {{product.author}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="list-group" *ngSwitchCase="'tab2'"></div>
      </div>
    </div>
  </div>
</div>