.listings-wrapper {
    padding: 20px 10px;
}

.list-tabs-wrapper {
    margin-top: 30px;
}

.tab-group {
    width: 100%;
    display: flex;

    .btn {
        width: 50%;
        border-radius: 0;
        border: 1px solid #38B449;
        background-color: #fff;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.20);

        &.active {
            color: #fff;
            background-color: #38B449;
        }
    }

    .btn-active {
        color: #fff;
        background-color: #38B449;
    }
}

.tab-list-group {
    margin-top: 25px;
}

.product-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 20px;

    .leftSide {
        flex: 2;
        width: 25%;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(153,153,153,0.50);
        margin-right : 10px;
        min-height: 100px;

        img {
            width: 100%;
        }
    }

    .rightSide {
        flex: 4;

        .productName {
            font-size: 1.1rem;
            line-height: 1.6rem;
            font-weight: 500;
            max-height: 1.6rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .desc {
            font-size: 0.9rem;
            line-height: 1.3rem;
            letter-spacing: 0.24px;
            max-height: 3rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .location-author {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .productLocation {
                font-size: 0.8rem;
                font-weight: 200;
                color: #999;
            }
            .productAuthor {
                font-size: 0.85rem;
                color: #999999;

            }
        }
    }
}