.acct-verified {
    padding: 20px;

    .welcome-title {
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 500;
        color: #000;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .btn-primary {
        width: 70%;
        margin-bottom: 50px;
    }

    .welcome-msg {
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-weight: 400;
        color: #000;
    }

    .from-team {

        small {
            font-size: 1rem;
            color: #999999;
        }
    }
}