<nav class="navbar navbar-white-bg">
  <div class="container navTitle-wrap">
    <div class="goBack">
        <h2 class="navTitle">Cancel</h2>
    </div>
  </div>
</nav>

<div class="container">
  <main class="desc-wrapper">
    <div class="uploadImg-wrapper">
      <div class="photo-wrapper"></div>
      <p class="small"><span>*</span>add photo to get a faster response</p>

      <button class="btn btn-secondary"><span class="icon icon-camera"></span> Add a photo</button>
    </div>

    <!--add form field for offering food here-->
    <app-form-offer-food></app-form-offer-food>

    <!--add form field to ask for food here-->
  </main>
</div>