<nav class="navbar navbar-bg">
  <div class="container navTitle-wrap">
    <div class="leftPart">
      <div class="logoDiv">
        <button class="btn btn-link" type="button" id="sidebarCollapse">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
        </button>
        <img class="logo" [src]="logo" alt="logo">
      </div>
    </div>

    <div class="rightPart">
      <span onclick="searchBar()">
        <i class="icon icon-search"></i>
      </span>
      <span onclick="messaging()">
        <i class="icon icon-message"></i>
      </span>
      <button class="btn btn-primary btn-sm" onclick="addItem()">Add item</button>
    </div>
  </div>
</nav>


<app-sidenav></app-sidenav>
