<nav class="navbar navbar-bg">
  <div class="container navTitle-wrap">
    <div class="leftPart">
      <div class="logoDiv">
        <img class="logo" [src]="logo" alt="logo">
      </div>
    </div>

    <div class="rightPart">
      <span onclick="searchBar()">
        <i class="icon icon-search"></i>
      </span>
      <span onclick="messaging()">
        <i class="icon icon-message"></i>
      </span>
      <button class="btn btn-primary btn-sm" onclick="addItem()">Add item</button>
    </div>
  </div>
</nav>