<form>
  <div class="form-group">
      <label>Item Title</label>
      <input type="text" class="form-control" placeholder="what's the item name?" name="title">
  </div>

  <div class="form-group">
      <label>Description</label>
      <textarea type="text" rows="5" class="form-control" placeholder="write a brief description about the item. quantity and how long will it be able available?" name="description"></textarea>
  </div>

  <div class="form-group">
      <label>Approximately Pick-up location</label>
      <div class="form-row">
        <div class="col loction-input">
          <input type="text" class="form-control" placeholder="e.g, Yaba, Ikeja, Ajah..." name="location">
        </div>
        <div class="col locate-btn">
          <button class="btn btn-secondary">locate me</button>
        </div>
      </div>

    </div>
</form>