<nav class="navbar navbar-bg">
  <div class="container navTitle-wrap">
    <button class="btn btn-link" type="button" id="sidebarCollapse">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
    </button>
    <h2 class="navTitle">Get started for free</h2>
  </div>
</nav>

<app-sidenav></app-sidenav>

<div class="container">
  <main class="signup-field pad-30">
    <div class="signup-title">
      <img class="logo" src="/src/assets/img/logo.svg" alt="Meals logo">
      <p>Please join to participate in food sharing</p>
    </div>

    <form class="sign-form" #form='ngForm' novalidate>
      <div class="form-row form-group">
        <div class="col">
          <label class="control-label">First name</label>
          <input #firstName="ngModel" required type="text" class="form-control" placeholder="First name" name="firstname" [(ngModel)]="firstname">
        </div>
        <div class="col">
          <label>Last name</label>
          <input type="text" class="form-control" placeholder="Last name" name="lastname" ngModel>
        </div>
      </div>

      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="e.g, myemail@mail.com" name="email" ngModel>
      </div>

      <div class="form-group">
        <label>Phone number</label>
        <input type="tel" class="form-control" placeholder="phone number here please" name="number" ngModel>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="type in a secured password here.." name="password" ngModel>
      </div>

      <div class="button-group">
        <button class="btn btn-primary" (click)="signupUser()">sign up</button>
      </div>
    </form>

    <p class="alt-link">Already a member? <span>Log in</span></p>
  </main>
</div>