<nav class="navbar navbar-bg">
  <div class="container navTitle-wrap">
    <button class="btn btn-link" type="button" id="sidebarCollapse">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
    </button>
    <h2 class="navTitle">Login to Meals</h2>
  </div>
</nav>

<app-sidenav></app-sidenav>

<div class="container">
  <main class="signup-field pad-30">
    <div class="signup-title">
      <img class="logo" src="/src/assets/img/logo.svg" alt="Meals logo">
      <p>We're a community of people here to share our excess with our neighbours..</p>
    </div>

    <app-login-thirdparty></app-login-thirdparty>

    <p class="small">We'll never post to any of accounts without your permission.</p>

    <p class="alt-link">Already a member? <span>Log in</span></p>
  </main>
</div>