// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position


.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center !important;
    justify-content: space-between;
    padding: 0;
}
.navbar-white-bg {
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.30);
    height: 60px;
}

.navbar-bg {
    background-color: $dark-bg;
    height: 60px;

    // .navTitle-wrap {
    //     display: block;
    // }
}

.navTitle-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;

    .btn-link {
        color: #ffffff;
    }

    .navTitle {
        color: #ffffff;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        font-weight: 500;
        text-transform: capitalize;
        flex: 1;
    }

}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #333;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.sidebar.active {
    left: 0;
}
.overlay {
    display: none;
    position: fixed;
    // full screen
    width: 100vw;
    height: 100vh;
    // transparent black
    background: rgba(0,0,0,0.7);
    // middle layers, i.e. appears below the sidebar
    z-index: 998;
    opacity: 0;
    // animate the transition
    transition: all 0.5s ease-in-out;
}

// display .overlay when it has the .active class
.overlay.active {
    display: block;
    opacity: 1;
}

